* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
  border: none;
  display: block;
}

h1,
h2 {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-weight: 500;
  color: #f3f4f6;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

code {
  font-family: ui-monospace, Consolas, monospace;
  display: inline-flex;
  border-radius: 4px;
  color: #f3f4f6;
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: #1f2028;
}